div {
    border: 10px red;
}

img {
    max-height: 400px;
    margin: 5px;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 80vw;
    min-height: 100vh;
}